<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <h1>Search</h1>
      <form
        *ngIf="searchFormGroup"
        [formGroup]="searchFormGroup"
        (ngSubmit)="submit()"
      >
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Input group example"
            aria-label="Input group example"
            aria-describedby="btnGroupAddon"
            formControlName="product"
          />
          <div class="input-group-prepend">
            <button
              type="submit"
              class="btn btn-outline-secondary"
              id="btnGroupAddon"
            >
              Поиск
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
